/* Utility classes extracted from inline styles in jjj.html */

.u-display-contents {
  display: contents;
}

.u-abs-inset-0 {
  position: absolute;
  border-radius: inherit;
  inset: 0px;
}

.u-img-cover {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}

.u-svg-templates {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.u-minh-100-w-auto {
  min-height: 100%;
  width: auto;
}
